.bloglist{
    border: 1px solid;
    background-color: ghostwhite
}

.commentBox{
     border: 1px solid;
     margin: 1%;
     background-color: powderblue;
     padding-left : 2%;
}

.replies{
    margin-left: 3%;
    margin-top  : 1%;
}

ul{
    list-style-type: none;

    li{
        margin: 2%;
    }
}